<?xml version="1.0" encoding="utf-8"?>
<manifest package="kg.soulsb.ayu"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.location.gps" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">

        <activity
            android:name="kg.soulsb.ayu.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="kg.soulsb.ayu.activities.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="kg.soulsb.ayu.activities.OtherActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="kg.soulsb.ayu.activities.NoHamburger"
                  android:label="@string/app_name"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="kg.soulsb.ayu.activities.NoToolbar"
                  android:label="@string/app_name"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name="kg.soulsb.ayu.activities.ReportsActivity"
                  android:label="Отчеты"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="kg.soulsb.ayu.activities.zakaz.OrderAddActivity"
            android:label="Создать заказ"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="kg.soulsb.ayu.activities.zakaz.ChooseClientTableActivity"
            android:label="Выбрать клиента"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="kg.soulsb.ayu.activities.SettingsObmenActivity"
            android:label="Обмен данными"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="kg.soulsb.ayu.activities.SettingsBasesActivity"
            android:label="Базы данных"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="kg.soulsb.ayu.activities.SettingsBasesAddEditActivity"
            android:label="Добавить базу данных"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="kg.soulsb.ayu.activities.ClientsTableActivity"
            android:label="Клиенты"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="kg.soulsb.ayu.activities.ClientDetailActivity"
            android:label="Данные клиента"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="kg.soulsb.ayu.activities.ItemsTableActivity"
            android:label="Товары"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="kg.soulsb.ayu.activities.BaseDetailActivity"
            android:label="Изменить базу данных"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="kg.soulsb.ayu.activities.ReportsDetailActivity"
            android:label="Сформированный отчет"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="kg.soulsb.ayu.activities.SavedDocumentsActivity"
            android:label="Журнал документов"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="kg.soulsb.ayu.activities.MessagesActivity"
            android:label="Сообщения"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="kg.soulsb.ayu.activities.ItemDetailActivity"
            android:label="Товар"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="kg.soulsb.ayu.activities.PayActivity"
            android:label="Оплата"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="kg.soulsb.ayu.activities.PaySvodActivity"
            android:label="Сводная Оплата"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="kg.soulsb.ayu.activities.SvodActivity"
            android:label="Свод заказов"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="kg.soulsb.ayu.activities.TasksActivity"
            android:label="Задания"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="kg.soulsb.ayu.activities.TasksDetailActivity"
            android:label="Детали задания"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="kg.soulsb.ayu.activities.ScanDocumentActivity"
            android:label="Сканирование документа"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="kg.soulsb.ayu.activities.BarcodeCaptureActivity"
            android:label="Сканирование документа"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <service
            android:name="mad.location.manager.lib.Services.KalmanLocationService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />

        <service android:name="kg.soulsb.ayu.services.LocationService" />

    </application>

</manifest>
